  <div id="left-nav" class="shadow">
          <!-- <div class="left-nav-header"><h4>FestivalFlyers</h4></div> -->
          <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#"><h5>Festival Flyers</h5></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"></a>
                </li>
              </ul>
              <div>
                <i class="fas fa-sync-alt"></i>
              </div>
            </div>
          </nav>
          <div id="articles"></div>
        </div>
        <div class="icon-container d-flex justify-content-center align-items-center text-white invisible shadow"><i class="comment-icon fas fa-comment"></i></div>

      <div id="right-nav" class="invisible">
        <div class="right-nav-middle">
          <ul class="list-group note-container">

          </ul>
        </div>
      <div class="right-nav-bottom">
          <div class="chatmsg">
              <form id="message-form">
                  <div class="chat-area">
                  <textarea class="chat-input" style="resize:none;" name="message" placeholder="Message"></textarea>
                  </div>
                  <div class="chat-button justify-content-end d-flex">
                  <button class="btn btn-dark btn-sm mt-1 save">Comment</button>
                  </div>
              </form>
          </div>
      </div>
    </div>
    <div class="wrapper d-flex justify-content-between">

      <div class="left-nav-placeholder"></div>
      <div class="flyer-container d-flex justify-content-center align-items-center"><div class="img-magnifier-container d-flex justify-content-center align-items-center">
        <img id="flyerimg" class="flyer-image zoom img-fluid">
      </div></div>
    </div>
