body { 
  background-color: #eee !important;
}

body::-webkit-scrollbar { 
  display: none; 
}

nav {
  border-bottom: 1px solid #ccc;
}

.fa-sync-alt {
  color: #fff;
}

.comment-area {
  border-left: 1px solid #ccc;
  background: #eee;
}

.comment-area-active {
  border-left: 1px solid #ccc;
}

.flyer-container {
  background: #eee;
  height: 100vh;
  width: 100%;
}

p {
  font-size: 0.875em !important;
  line-height: 1.375;
  font-family: 'Roboto', sans-serif;
}

h5 {
  font-weight: 700 !important;
  font-family: 'Didact Gothic', sans-serif !important;
}

.spin {
  -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.concert-date {
  font-size: 0.875em;
}

.article-container {
    border-bottom: 1px solid #ccc;
    height: 80px;
    padding: 0.25em 0.875em 0 0.75em;
}



.favorite-icon {
    color: #ccc;
}

.favorite-icon:hover {
    color: #999;
}


.wrapper {
  width: 100%;
  height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
  background-color: #eee;
}
#articles {
  padding-left: 5px;
  display: inline-block;
  overflow: auto;
  height: calc(100vh - 65px);
}

.nav-link {
  font-size: 0.875em !important;
  margin-bottom: 0.25em;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track { 
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #666;
}



#left-nav {
  width: 25vw;
  position: fixed;
  height: 100vh;
  padding: 0 !important;
  z-index: 9999;
  background-color: #fff;
}

.left-nav-header {
  height: 60px;
  padding: 0.875em 0 0 0.75em;
  border-bottom: 1px solid #ccc;
}

#notes {
  float: right;
  width: 30%;
}
textarea, input {
  display: block;
  width: 100%;
  height: 80px;

}
input {
  height: 36px;
  font-size: 24px;
}
.save-button {
    margin-top: -2.5em;
}

/* -- Magnifier -- */
* {box-sizing: border-box;}

/* .flyer-image {
  max-height: 90vh !important;
} */

/* .img-magnifier-container {
  height: 100%;
  width: 100% !important;
} */

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #fff;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 300px;
  height: 300px;
}

/* -- Image Zoom -- */
.zoom {
  position: relative;
  max-width: 45vw !important;
  max-height: 90vh !important;
  transition: transform .2s; /* Animation */
  overflow-y: scroll !important;

}

.zoom:hover {
  cursor: zoom-in;
/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}

.zoomed {
  position: absolute;
  top: 25vh;
  width: 50vw;
  max-width: 50vw !important;
  max-height: none !important;
/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}

.zoomed:hover {
  cursor: zoom-out;
}

.left-nav-placeholder {
  -ms-flex: 0 0 25vw;
  flex: 0 0 25vw;
}

#right-nav {
  position: fixed;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.9);
  right: 0;
  width: 22vw;
  height: 100vh;
  z-index: 999;
}

.right-nav-top {
  text-align: right;
  padding: 1em;
  position: fixed;
  right: 0;
}

.right-nav-middle {
  height: calc(100% - 120px);
  overflow-y: scroll;
  padding: 1em 1em 0 1em;
}

.right-nav-bottom {
  height: 120px;
}

.chat-input {
  padding: 0.5em;
  border: 1px solid #ccc;
  background: transparent;
  color: #fff;
  font-size: 0.75em !important;
}

.chat-area {
  text-align: center;
}

.chatmsg {
  margin: 0 1em 1em 1em;
}

.icon-container {
  position: fixed;
  right: 8px;
  top: 8px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #333;
  font-size: 1em;
  z-index: 9999;
}

.list-group {
  background: transparent !important;
}

.list-group-item {
  background: transparent !important;
  font-size: 0.75em;
  border: 0 !important;
  border-bottom: 1px solid #666 !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  z-index: -1 !important;
}

.user-id {
  font-size: 0.875em;
  color: #999;
}

/* .flyer-container-bg {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 59%, rgba(0, 0, 0, 0.7) 100%), 
    url('https://source.unsplash.com/thm-jF3JR3w/1920x1080');
	background-size: cover;
		background-repeat: no-repeat;
	background-color: #000;
	background-position: center bottom;
} */

.flyer-container-sm {
  width: 53vw;
}